body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, "Meiryo", sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 0.4rem;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

#calendar,
#weather,
#news,
#status {
  background-color: white;
  height: 32.5%;
  overflow: hidden;
}

#calendar #calendar-today {
  position: relative;
  height: 98%;
}

#calendar #calendar-year-month {
  font-size: 2.4rem;
  line-height: 2.5rem;
}

#calendar #calendar-year,
#calendar #calendar-month {
  font-size: 3rem;
}

#calendar #calendar-wareki {
  font-size: 2.4rem;
  line-height: 150%;
}

#calendar #calendar-date-container {
  position: relative;
  width: 100%;
  height: 12rem;
}

#calendar #calendar-date-holiday {
  position: relative;
  top: 1rem;
  display: inline-block;
  white-space: nowrap;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

#calendar #calendar-date-holiday.holiday {
  background-color: #DCDCDC;
  color: black;
}

#calendar #calendar-date {
  position: relative;
  top: -13rem;
  font-size: 12rem;
  font-weight: bold;
  font-family: Tahoma, "Meiryo", sans-serif;
}

#calendar .calendar-day-of-week {
  font-size: 3.5rem;
  height: 4.4rem;
}

#calendar #calendar-today-event {
  font-size: 2.6rem;
  height: 3.6rem;
}

#calendar .calendar-month {
  width: 100%;
  font-size: 1.8rem;
  caption-side: top;
  margin: 0.4rem 0 0 0;
}

#calendar .calendar-month tr,
#calendar .calendar-month td {
  text-align: center;
}

#calendar caption {
  font-weight: bold;
  padding: 0 0.4rem;
  border-bottom: solid 2px black;
}

#calendar .calendar-today {
  border: solid 3px #333;
  font-weight: bold;
}

#calendar .calendar-holiday {
  border-radius: 50%;
  background-color: #D8D8D8;
}

#calendar .calendar-empty {
  color: lightgray;
}

#calendar #calendar-events {
  list-style: none;
  padding: 0;
  margin: 0;
  word-break: break-all;
  height: 100%;
  overflow: ellipsis;
}

#calendar #calendar-events li {
  display: inline;
  margin-right: 1rem;
  font-size: 1.8rem;
}

#calendar #calendar-events .calendar-event-start {
  padding: 0 0.6rem;
  border-radius: 0.4rem;
  border-bottom: solid 2px black;
}

#calendar #calendar-events .calendar-event-start.alert {
  background-color: #666;
  color: white;
  font-weight: bold;
}

#weather #weather-now {
  height: 98%;
}

#weather #weather-now .weather-icon {
  display: block;
  height: 16rem;
  width: 16rem;
  margin: 0 auto;
  font-size: 16rem;
}

#weather #weather-now .weather-title {
  font-size: 2.4rem;
}

#weather #weather-now .weather-option-container {
  height: 3rem;
  white-space: nowrap;
}

#weather #weather-now .weather-option-container img {
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.3rem;
}

#weather #weather-now #weather-temp {
  text-align: right;
  font-size: 2.8rem;
  white-space: nowrap;
}

#weather #weather-now .weather-temp-value {
  font-size: 5rem;
}

#weather #weather-now #weather-humidity {
  font-size: 2.2rem;
  white-space: nowrap;
}

#weather #weather-now .weather-humidity-icon {
  vertical-align: baseline;
  width: 2.2rem;
  height: 2.2rem;
}

#weather .weather-time {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: solid 2px black;
  font-weight: bold;
}

#weather .weather-icon-container {
  position: relative;
  margin: 0.4rem auto;
  text-align: center;
  max-width: 8rem;
}

#weather .weather-icon-container .weather-icon {
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 0.2rem auto;
  padding: 0.4rem;
  font-size: 4.6rem;
}

#weather .weather-icon-container .weather-icon-ambrella,
#weather .weather-icon-container .weather-icon-uv {
  position: absolute;
  height: 3.0rem;
  bottom: 0rem;
  right: 0rem;
}

#weather #weather-now .weather-icon-container {
  max-width: none;
}

#weather #weather-now .weather-icon-container .weather-icon-ambrella,
#weather #weather-now .weather-icon-container .weather-icon-uv {
  height: 7.0rem;
}

#weather .weather-pop,
#weather .weather-temp,
#weather .weather-temp-high,
#weather .weather-temp-low {
  font-size: 1.8rem;
  text-align: center;
  line-height: 120%;
  white-space: nowrap;
}

#weather .weather-extremely-hot-day {
  vertical-align: middle;
  height: 1.8rem;
  margin-left: 0.4rem;
}


#weather .weather-hourly-container {
  margin-bottom: 1rem;
}

#news #transit-delayed-lines {
  font-size: 2.6rem;
  margin-left: 0.8rem;
  line-height: 120%;
}

#news #transit-delayed-lines dt {
  display: inline;
}

#news #transit-delayed-lines dt .transit-section {
  font-weight: normal;
  font-size: 2.2rem;
}

#news #transit-delayed-lines dt .transit-section::before {
  content: "[";
}

#news #transit-delayed-lines dt .transit-section::after {
  content: "]";
}

#news #transit-delayed-lines dt:not(:first-child)::before {
  padding-left: 1rem;
  content: "/ ";
}

#news #transit-delayed-lines dd {
  display: inline;
  font-size: 2.2rem;
  padding-left: 0.8rem;
}

#news #transit-delayed-lines dd.transit-message {
  padding-left: 0;
}

#news #news-headline-image {
  max-height: 21rem;
  max-width: 30%;
  float: right;
}

#news #news-headline {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0.8rem;
}

#news #news-headline li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.2rem;
}

#status {
  background-color: lightgray;
  padding: 0.2rem 0.6rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#error {
  position: absolute;
  top: 0px;
  left: 0px;
  border: solid 1px black;
  font-size: 1.4rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
  filter: drop-shadow(8px 8px 4px black);
}